<% include partials/header %>

<section class="container" id="features_section">
    <p>Busca por vagas de seu interesse!!!</p>
    <div id="btn_actions">
      <button class="btn btn-primary">
        <i class="fa fa-search"></i>
        Ver vagas
      </button>
      <button class="btn btn-danger">
        <i class="fa fa-sign-in"></i>
        Registrar-se
      </button>
    </div>
    <br/>
    <div>
      <h3>Features</h3>
      <p>Funcionalidades presentes do indexador de vagas</p>
      <div id="features">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <i class="fa fa-pie-chart fa-4x"></i>
            <br> Gráficos
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <i class="fa fa-clock-o fa-4x "></i>
            <br> Busca rápida
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <i class="fa fa-search fa-4x"></i>
            <br> Filtros
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="details_indexer_jobs">
    <h2>+ 2000 vagas já indexadas!!!</h2>
    <p>Acesse agora é garanta a sua</p>
    <button class="btn btn-primary">Registrar-se</button>
  </section>

  <section id="contacts">
    <h3>Contatos</h3>
    <p>Entre em contato usando o email abaixo</p>
    <a href="mailto:tiagorosadacost@gmailcom?subject=Contato" class="text-dark">tiagorosadacost@gmail.com</a>
  </section>
<% include ./partials/footer %>
