<% include ../partials/header %>
    <div class="container">
        <h1 class="text-center">Analytic Dashboard</h1>
        <br/>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <h3 class="text-center">The enterprises with greather jobs quantity</h3>
                <canvas id="myChart" width="100" height="20px"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="js/graphic.js"></script>
    <% include ../partials/footer %>