<% include ../partials/header  %>
    <div class="container">
        <h1 class="text-center">Jobs</h1>
        <div class="row">
            <div class="card col-md-12">
                <div class="card-body">
                    <h3>Programador Node.js</h3>
                    <p>Trabalha com desenvolvimento de aplicações web e conhece Python + Django? Quer trabalhar em uma empresa que desenvolve soluções de cloud computing? Então seu lugar é aqui! Envie</p>
                    <a href="/job/1/details" class="btn btn-primary">Ver detalhes</a>
                </div>
            </div>
            
        </div>
    </div>
<% include ../partials/footer %>
