<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Indexer jobs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <div class="container">
        <h1 class="text-center">INDEXER JOB</h1>
        <div style="max-width: 500px; margin: auto;">
            <form action="/user/login" method="POST">
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="email" name="email" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="">Senha:</label>
                    <input type="password" name="password" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary"
                    value="sign in" />
                </div>
            </form>
        </div>
    </div>
</body>

</html>