<% include ../partials/header  %>

<div class="container">
        <h1 class="text-center">INDEXER JOB</h1>
        <div style="max-width: 500px; margin: auto;">
            <form action="/user/login" method="POST">
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="email" name="email" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="">Senha:</label>
                    <input type="password" name="password" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-block btn-primary"
                    value="sign in" />
                </div>
            </form>
        </div>
    </div>
<% include ../partials/footer %>
